.main__container .footer__container {
  width: 100%;
  height: auto;
  
  padding: 40px 0 16px;
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, .08);  

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main__container .footer__container .footer__innercontainer {
  width: 1400px;
}

.main__container 
.footer__container
.footer__innercontainer 
.footer__nav-container  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main__container 
.footer__container
.footer__innercontainer 
.footer__nav-container
.footer__nav-image-link {
  width: 112px;
  height: 32px;
  cursor: pointer;
  background: url("../img/주석 2026-02-06 171421.png") center no-repeat;
  background-size: contain;
}

.main__container 
.footer__container
.footer__innercontainer 
.footer__nav-container 
.footer__nav-link-container {
  position: relative;
  width: auto;
  height: auto;

  gap: 32px;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main__container 
.footer__container
.footer__innercontainer 
.footer__nav-container 
.footer__nav-link-container li::marker {
  content: none;
}
.main__container 
.footer__container
.footer__innercontainer 
.footer__nav-container 
.footer__nav-link-container 
.footer__nav-link {
  font-size: 1rem;
  line-height: 1.625rem;
  letter-spacing: 0.0057em;
  font-weight: 500;

  cursor: pointer;
}

.main__container 
.footer__container
.footer__innercontainer 
.footer__text-container {
  margin-top: 28px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  gap: 8px;
}

.main__container 
.footer__container
.footer__innercontainer 
.footer__text-container li::marker {
  content: none;
}
.main__container 
.footer__container
.footer__innercontainer 
.footer__text-container
.footer__text-content {
  width: 100%;
  font-style: normal;
  font-weight: 500;
  letter-spacing: .25px;
  font-size: 0.9em;
  color: rgba(55, 56, 60, .61);
}

.main__container 
.footer__container
.footer__innercontainer 
.footer__text-container
.footer__text-content
.divide-line::before {
  content: "|";
  margin: 0 8px;
  color: hsla(225, 5%, 46%, .22);
  font-style: normal;
  font-weight: 500;
  letter-spacing: .25px;  
}


.main__container 
.footer__container
.footer__innercontainer 
.footer__inquire-container li::marker {
  content: none;
}
.main__container 
.footer__container
.footer__innercontainer 
.footer__inquire-container {
  width: 100%;
  height: auto;
  margin: 28px 0 32px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  
  gap: 8px 24px;
}

.main__container 
.footer__container
.footer__inquire-container
.footer__inquire-content { 
  font-size: 0.9em;
  line-height: 1.125rem;
  letter-spacing: 0.0194em;
  font-weight: 600;
  color: rgba(23, 23, 25, .61);
}

.main__container 
.footer__container
.horizontal-divide-line {
  width: 100%;
  height: 1px;

  margin: 0px 7px;
  background-color: #000;
  opacity: .1;
  border: none;
}


.main__container 
.footer__container
.footer__social-net-container {
  position: relative;
  margin-top: 12px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main__container 
.footer__container
.footer__social-net-container
.footer__social-copyright {
  font-size: 0.9em;
  letter-spacing: .0194em;
  line-height: 18px;
  font-weight: 500;
  color: rgba(55, 56, 60, .61);
}

.main__container 
.footer__container
.footer__social-net-container
.footer__social-link-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 10px;
}

.main__container 
.footer__container
.footer__social-net-container
.footer__social-link-container 
.footer__social-link-content::marker {
  content: none;
}
.main__container 
.footer__container
.footer__social-net-container
.footer__social-link-container 
.footer__social-link-content {
  width: 36px;
  height: 36px;

  background-size: contain !important;
}

.main__container 
.footer__container
.footer__social-net-container
.footer__social-link-container 
.footer__social-link-content
.social-inner {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transform: scale(0.8);
  padding: 4px 8px;
  cursor: pointer;
}

.main__container 
.footer__container
.footer__social-net-container
.footer__social-link-container 
.footer__social-link-content.iter-1
.social-inner {
  background: url("../img/social-net-instagram.png") center no-repeat;
}
.main__container 
.footer__container
.footer__social-net-container
.footer__social-link-container 
.footer__social-link-content.iter-2
.social-inner {
  background: url("../img/social-net-facebook.png") center no-repeat;
}
.main__container 
.footer__container
.footer__social-net-container
.footer__social-link-container 
.footer__social-link-content.iter-3
.social-inner {
  background: url("../img/social-net-youtube.png") center no-repeat;
}
.main__container 
.footer__container
.footer__social-net-container
.footer__social-link-container 
.footer__social-link-content.iter-4
.social-inner {
  background: url("../img/social-net-blog.png") center no-repeat;
}
.main__container 
.footer__container
.footer__social-net-container
.footer__social-link-container 
.footer__social-link-content.iter-5
.social-inner {
  background: url("../img/social-net-apple.png") center no-repeat;
}
.main__container 
.footer__container
.footer__social-net-container
.footer__social-link-container 
.footer__social-link-content.iter-6
.social-inner {
  background: url("../img/social-net-playstore.png") center no-repeat;
}