html, body, #root {
  width: 100%;
  height: 100%;
}

* {
  margin: 0px;
  padding: 0px;
}

#root {
  font-size: 14px;
  color: #333;
  /* background-color: #f8f8f8; */
  line-height: 1.42857143;
  font-family: 
    "Pretendard Variable", 
    "Pretendard JP Variable", 
    "-apple-system", 
    "system-ui",
    "BlinkMacSystemFont", 
    "Roboto", 
    "Segoe UI", 
    "Helvetica", 
    "Arial", 
    "Apple SD Gothic Neo", 
    "Nanum Gothic", 
    "Malgun Gothic", 
    "Apple Color Emoji", 
    "Segoe UI Emoji", 
    "Segoe UI Symbol", 
    "sans-serif";

  display: flex;
  flex-direction: column;
  justify-self: flex-start;
}

*::-webkit-scrollbar-button:vertical:start:decrement,
*::-webkit-scrollbar-button:vertical:start:increment,
*::-webkit-scrollbar-button:vertical:end:decrement,
*::-webkit-scrollbar-button:vertical:end:increment {
  height: 0;
  width: 0;
  -webkit-appearance: none;
  background: transparent;
  border: 0;
}

*::-webkit-scrollbar-button:horizontal:start:decrement,
*::-webkit-scrollbar-button:horizontal:start:increment,
*::-webkit-scrollbar-button:horizontal:end:decrement,
*::-webkit-scrollbar-button:horizontal:end:increment {
  height: 0;
  width: 0;
  -webkit-appearance: none;
  background: transparent;
  border: 0;
}