@font-face {
    font-family: 'Pretendard Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

* {
  margin: 0px;
  padding: 0px;
}

#root {
  font-size: 14px;
  color: #333;
  background-color: #f8f8f8;
  line-height: 1.42857143;
  font-family: 
    "Pretendard Variable", 
    "Pretendard JP Variable", 
    "-apple-system", 
    "system-ui",
    "BlinkMacSystemFont", 
    "Roboto", 
    "Segoe UI", 
    "Helvetica", 
    "Arial", 
    "Apple SD Gothic Neo", 
    "Nanum Gothic", 
    "Malgun Gothic", 
    "Apple Color Emoji", 
    "Segoe UI Emoji", 
    "Segoe UI Symbol", 
    "sans-serif";
}