.header__navbar-overlay-container.disabled {
  visibility: hidden;
  display: none;
}
.header__navbar-overlay-container {
  position: absolute;
  left: 0px;
  top: 100%;

  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 10;

  display: flex;
  flex-direction: row;
}

.header__navbar-overlay-container
.header__navbar-overlay-innercontainer {
  width: 100%;
  height: 455px;
  flex: 1;
  background-color: white;
  
  display: flex;
  flex-direction: row;

  z-index: 11;
}

.header__navbar-overlay-container
.header__navbar-overlay-innercontainer
.header__navbar-overlay-content {
  width: 100%;
  height: 100%;
  flex: 1;

  margin: 0px 422px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  overflow: hidden;
}

.header__navbar-overlay-container
.header__navbar-overlay-innercontainer
.header__navbar-overlay-content
.header__navbar-explore-container {
  width: 224px;
  height: 100%;
}

.header__navbar-overlay-container 
.header__navbar-overlay-innercontainer 
.header__navbar-overlay-content 
.header__navbar-explore-innercontainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -4px;
  padding: 25px 8px 0px 4px;
  
  box-sizing: border-box;
  overflow-y: scroll;

}

.header__navbar-overlay-container
.header__navbar-overlay-innercontainer
.header__navbar-overlay-content
.header__navbar-explore-container li::marker {
  content: none;
}
.header__navbar-overlay-container
.header__navbar-overlay-innercontainer
.header__navbar-overlay-content
.header__navbar-explore-container li:hover {
  font-weight: bold;
}
.header__navbar-overlay-container
.header__navbar-overlay-innercontainer
.header__navbar-overlay-content
.header__navbar-explore-container li {
  min-height: 20px;
  box-sizing: border-box;
  display: block;
  
  font-size: 0.9rem;
  line-height: 1.125rem;
  letter-spacing: 0.0194em;
  color:  rgb(23, 23, 25);

  margin-bottom: 18px;
  cursor: pointer;
}
.header__navbar-overlay-container
.header__navbar-overlay-innercontainer
.header__navbar-overlay-content
.header__navbar-explore-container li:first-child {
  font-weight: bold;
  color: rgb(51, 51, 51);
}

.header__navbar-overlay-container
.header__navbar-overlay-innercontainer
.vertical-divide-line {
  width: 1px;
  background: rgba(0, 0, 0, .12);
  margin-left: 4px;
}

.header__navbar-overlay-container
.header__navbar-overlay-innercontainer
.header__navbar-list-container {
  flex: 1;
  
  font-weight: 400;
  font-size: 14px;
  letter-spacing: .0145em;
  line-height: 20px;
  color: rgba(55, 56, 60, 0.612);

  text-align: center;
  align-items: center;
  align-content: center;
}

.header__navbar-overlay-container
.header__navbar-overlay-innercontainer
.header__navbar-list-container
.header__navbar-empty-list {
  width: 100%;
  text-align: center;
  align-items: center;
}

.header__navbar-overlay-container
.header__navbar-overlay-innercontainer
.header__navbar-list-container
.header__navbar-target-list {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.header__navbar-overlay-container
.header__navbar-overlay-innercontainer
.header__navbar-list-container
.header__navbar-target.disabled {
  visibility: hidden;
  display: none;
}
.header__navbar-overlay-container
.header__navbar-overlay-innercontainer
.header__navbar-list-container
.header__navbar-target {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
  
  padding: 25px 0px;
  gap: 18px;
  box-sizing: border-box;
  overflow-y: scroll;

  background-color: transparent;
}

.header__navbar-overlay-container
.header__navbar-overlay-innercontainer
.header__navbar-list-container
.header__navbar-target 
.header-nav::marker {
  content: none;
}
.header__navbar-overlay-container
.header__navbar-overlay-innercontainer
.header__navbar-list-container
.header__navbar-target 
.header-nav:hover {
  font-weight: bold;
  cursor: pointer;
}
.header__navbar-overlay-container
.header__navbar-overlay-innercontainer
.header__navbar-list-container
.header__navbar-target 
.header-nav {
  width: auto;
  height: 20px;
  min-width: 200px;
  padding-left: 20px;
  
  flex: 1;

  white-space: nowrap;
  text-align: left;
  font-size: 0.9rem;
  line-height: 1.125rem;
  letter-spacing: 0.0194em;
  color: rgb(23, 23, 25);
}
