.main__container {
  position: relative;
  width: 100%;
  flex: 1;
  top: 60px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__container .main__content {
  position: relative;
  width: 1400px;
  height: 100%;

  padding-top: 45px;
  padding-bottom: 160px;

  gap: 64px;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* ------------------------------ header ------------------------------  */
.main__container .main__content .main__header-container {
  width: 100%;
  height: 136px;
  box-sizing: border-box;
  padding: 24px 8px 12px 8px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main__container .main__content .main__header-container .main__header-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main__container .main__content .main__header-container .main__header-content .main__header-content-container {
  width: 116px;
  height: 94px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main__container 
.main__content 
.main__header-container 
.main__header-content 
.main__header-content-container 
.main__header-list-content {
  cursor: pointer;
}

.main__container .main__content .main__header-container .main__header-content li::marker {
  content: none;
}

.main__container 
.main__content 
.main__header-container 
.main__header-content 
.main__header-content-container 
.main__header-list-content 
.main__header-innerimage {
  width: 56px;
  height: 56px;

  object-fit: contain;
}

.main__container 
.main__content 
.main__header-container 
.main__header-content 
.main__header-content-container 
.main__header-list-content 
.main__header-innertext {
  width: 100%;
  
  color: rgba(55, 56, 60, .61);
  font-family: inherit;
}


/* ------------------------------ commeon articles  ------------------------------  */
.main__container .main__content .main__content-container {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__container .main__content .main__content-container .main__content-inner-container {
  width: 100%;
  height: auto;
  margin-bottom: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main__container .main__content .main__content-container .main__content-inner-container .main__content-innertext {
  color: #000000;
  font-size: 22px;
  font-family: inherit;

  font-size: 1.375rem;
  line-height: 1.875rem;
  letter-spacing: -0.0194em;
  font-weight: 600;
}

.main__container .main__content .main__content-container .main__content-inner-container .main__content-button-container {
  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main__container 
.main__content 
.main__content-container 
.main__content-inner-container 
.main__content-button-container 
.main__content-left-button 
 div {
  width: 100%;
  height: 100%;
  background: url("../img/주석 2026-02-09 094204.png") no-repeat center;
  background-size: contain;
  transform: scale(1.6);
}
.main__container 
.main__content 
.main__content-container 
.main__content-inner-container 
.main__content-button-container 
.main__content-left-button {
  width: 32px;
  height: 32px;
  padding: 8px;
  box-sizing: border-box;

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid hsla(225, 5%, 46%, .16);
  border-right: none;
}

.main__container 
.main__content 
.main__content-container 
.main__content-inner-container 
.main__content-button-container 
.main__content-right-button 
 div {
  width: 100%;
  height: 100%;
  background: url("../img/주석 2026-02-09 094204.png") no-repeat center;
  background-size: contain;
  transform: scale(1.6) rotateY(180deg);
}
.main__container 
.main__content 
.main__content-container 
.main__content-inner-container 
.main__content-button-container 
.main__content-right-button {
  width: 32px;
  height: 32px;
  padding: 8px;
  box-sizing: border-box;

  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid hsla(225, 5%, 46%, .16);
  border-left: none;
}

/* ------------------------------ attention ------------------------------  */
.main__container .main__content .main__content-container.attention .main__content-carousal-container {
  width: 100%;
  height: auto;
  max-height: 275.95px;

  overflow-x: hidden;
  
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.main__container 
.main__content 
.main__content-container.attention 
.main__content-carousal-container 
.main__content-carousal-innercontainer {
  width: auto;
  height: auto;
  min-width: inherit;
  max-height: 275.95px;

  gap: 20px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main__container 
.main__content 
.main__content-container.attention 
.main__content-carousal-container 
.main__content-carousal-innercontainer 
.carousal__content-container::marker {
  content: none;
}
.main__container 
.main__content 
.main__content-container.attention 
.main__content-carousal-container 
.main__content-carousal-innercontainer 
.carousal__content-container {
  width: 264px;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.main__container 
.main__content 
.main__content-container.attention 
.main__content-carousal-container 
.main__content-carousal-innercontainer 
.carousal__content-container
.carousal__content-image {
  position: relative;
  width: 100%;
  height: 175px;

  border-radius: 12px;
  background-size: cover !important;

  margin-bottom: 12px;

  outline: 1px solid rgba(23, 23, 25, .05);
  outline-offset: -1px;
}

.main__container 
.main__content 
.main__content-container.attention 
.main__content-carousal-container 
.main__content-carousal-innercontainer 
.carousal__content-container
.carousal__content-image:hover {
  animation-name: attention_carousal_hover;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.main__container 
.main__content 
.main__content-container.attention 
.main__content-carousal-container 
.main__content-carousal-innercontainer 
.carousal__content-container
.carousal__content-text-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 0px 6px;
}

.main__container 
.main__content 
.main__content-container.attention 
.main__content-carousal-container 
.main__content-carousal-innercontainer 
.carousal__content-container
.carousal__content-text-container
.title {
  margin-bottom: 2px;

  color: #333333;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.0057em;
  font-weight: 600;
}

.main__container 
.main__content 
.main__content-container.attention 
.main__content-carousal-container 
.main__content-carousal-innercontainer 
.carousal__content-container
.carousal__content-text-container
.ent-content {
  color: rgba(55, 56, 60, .61);
  font-size: 0.8125rem;
  line-height: 1.125rem;
  letter-spacing: 0.0194em;
  font-weight: 500;
}

.main__container 
.main__content 
.main__content-container.attention 
.main__content-carousal-container 
.main__content-carousal-innercontainer 
.carousal__content-container
.carousal__content-text-container
.where {
  margin-top: 2px;

  color: rgba(55, 56, 60, .61);
  font-size: 0.8125rem;
  line-height: 1.125rem;
  letter-spacing: 0.0194em;
  font-weight: 500;
}

/* carousal content 1 */
.main__container 
.main__content 
.main__content-container.attention 
.main__content-carousal-container 
.main__content-carousal-innercontainer 
.carousal__content-container
.carousal__content-image.iter-1 {
  background: url("../img/optimize (1).webp") no-repeat center;
}

/* carousal content 2 */
.main__container 
.main__content 
.main__content-container.attention 
.main__content-carousal-container 
.main__content-carousal-innercontainer 
.carousal__content-container
.carousal__content-image.iter-2 {
  background: url("../img/optimize (2).webp") no-repeat center;
}

/* carousal content 3 */
.main__container 
.main__content 
.main__content-container.attention 
.main__content-carousal-container 
.main__content-carousal-innercontainer 
.carousal__content-container
.carousal__content-image.iter-3 {
  background: url("../img/optimize (3).webp") no-repeat center;
}

/* carousal content 4 */
.main__container 
.main__content 
.main__content-container.attention 
.main__content-carousal-container 
.main__content-carousal-innercontainer 
.carousal__content-container
.carousal__content-image.iter-4 {
  background: url("../img/optimize.webp") no-repeat center;
}

/* carousal content 5 */
.main__container 
.main__content 
.main__content-container.attention 
.main__content-carousal-container 
.main__content-carousal-innercontainer 
.carousal__content-container
.carousal__content-image.iter-5 {
  background: url("../img/optimize (22).webp") no-repeat center;
}


/* ------------------------------ now attention ------------------------------  */
.main__container 
.main__content 
.main__content-container.now-attention 
.main__content-carousal-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.main__container 
.main__content 
.main__content-container.now-attention 
.main__content-carousal-container 
.main__content-carousal-innercontainer {
  width: auto;
  height: auto;
  gap: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main__container 
.main__content 
.main__content-container.now-attention 
.main__content-carousal-container 
.main__content-carousal-innercontainer 
.carousal__content-container {
  width: 100%;
  height: 100%;

  overflow: hidden;
  border-radius: 10px;
}

.main__container 
.main__content 
.main__content-container.now-attention 
.main__content-carousal-container 
.main__content-carousal-innercontainer 
.carousal__content-container:hover {
  animation-name: now_attention_carousal_outer_hover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.main__container 
.main__content 
.main__content-container.now-attention 
.main__content-carousal-container 
.main__content-carousal-innercontainer 
.carousal__content-container::marker {
  content: none;
}

.main__container 
.main__content 
.main__content-container.now-attention 
.main__content-carousal-container 
.main__content-carousal-innercontainer 
.carousal__content-container {
  position: relative;
  width: 453px;
  height: 302px;

  overflow: hidden;
  border-radius: 10px !important;
}

.main__container 
.main__content 
.main__content-container.now-attention 
.main__content-carousal-container 
.main__content-carousal-innercontainer 
.carousal__content-container
.carousal__content-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: contain !important;
  object-fit: contain;
  border-radius: 10px !important;
}

.main__container 
.main__content 
.main__content-container.now-attention 
.main__content-carousal-container 
.main__content-carousal-innercontainer
.carousal__content-image:hover {
  animation-name: now_attention_carousal_inner_hover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.main__container 
.main__content 
.main__content-container.now-attention 
.main__content-carousal-container 
.main__content-carousal-innercontainer 
.carousal__content-container
.carousal__content-text-container {
  position: absolute;
  left: 20px;
  top: 225px;

  color: aliceblue;
}

.main__container 
.main__content 
.main__content-container.now-attention 
.main__content-carousal-container 
.main__content-carousal-innercontainer 
.carousal__content-container
.carousal__content-text-container
 h3 {
  font-size: 22px;
  letter-spacing: -.0194em;
  line-height: 30px;
  font-weight: 600;

  margin-bottom: 5.5px;
}

.main__container 
.main__content 
.main__content-container.now-attention 
.main__content-carousal-container 
.main__content-carousal-innercontainer 
.carousal__content-container
.carousal__content-text-container
 p {
  font-weight: 500;
  font-size: 15px;
  letter-spacing: .0096em;
  line-height: 22px;
}

.main__container 
.main__content 
.main__content-container.now-attention 
.main__content-carousal-container 
.main__content-carousal-innercontainer 
.carousal__content-container
.carousal__content-image.iter-1 {
  background: url("../img/optimize (7).webp") no-repeat center;
}

.main__container 
.main__content 
.main__content-container.now-attention 
.main__content-carousal-container 
.main__content-carousal-innercontainer 
.carousal__content-container
.carousal__content-image.iter-2 {
  background: url("../img/optimize (23).webp") no-repeat center;
}

.main__container 
.main__content 
.main__content-container.now-attention 
.main__content-carousal-container 
.main__content-carousal-innercontainer 
.carousal__content-container
.carousal__content-image.iter-3 {
  background: url("../img/optimize (24).webp") no-repeat center;
}


/* ------------------------------ theme/position  ------------------------------  */
.main__container 
.main__content 
.main__content-container.theme-position
.main__content-carousal-container {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.main__container 
.main__content 
.main__content-container.theme-position
.main__content-carousal-innercontainer {
  width: 100%;
  height: auto;
  
  gap: 20px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main__container 
.main__content 
.main__content-container.theme-position
.main__content-carousal-innercontainer
.carousal__content-container::marker {
  content: none;
}

.main__container 
.main__content 
.main__content-container.theme-position
.main__content-carousal-innercontainer
.carousal__content-container {
  position: relative;
  width: 340px;
  height: 260px;

  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  border: 1px solid hsla(225, 5%, 46%, .16);
  border-radius: 12px;
}

.main__container 
.main__content 
.main__content-container.theme-position
.main__content-carousal-innercontainer
.carousal__content-container
.carousal__content-innercontainer {
  width: 100%;
  height: 100%;
}

.main__container 
.main__content 
.main__content-container.theme-position
.main__content-carousal-innercontainer
.carousal__content-container
.carousal__content-image {
  width: 100%;
  height: 172px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-size: cover !important;
}

.main__container 
.main__content 
.main__content-container.theme-position
.main__content-carousal-innercontainer
.carousal__content-container
.carousal__content-text-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  flex: 1;
  box-sizing: border-box;
  padding: 20px;
  gap: 4px;
}

.main__container 
.main__content 
.main__content-container.theme-position
.main__content-carousal-innercontainer
.carousal__content-container
.carousal__content-text-container
 h3 {
  color: #171719;
  font-size: 1.0625rem;
  line-height: 1.5rem;
  letter-spacing: 0em;
  font-weight: 600;
  text-align: left;
}

.main__container 
.main__content 
.main__content-container.theme-position
.main__content-carousal-innercontainer
.carousal__content-container
.carousal__content-text-container
 p {
  color: rgba(55, 56, 60, .61);
  font-size: 0.8125rem;
  line-height: 1.125rem;
  letter-spacing: 0.0194em;
  font-weight: 500;
  text-align: left;
}

.main__container 
.main__content 
.main__content-container.theme-position
.main__content-carousal-innercontainer
.carousal__content-container
.carousal__content-image.iter-1 {
  background: url("../img/optimize (8).webp") center no-repeat;
}

.main__container 
.main__content 
.main__content-container.theme-position
.main__content-carousal-innercontainer
.carousal__content-container
.carousal__content-image.iter-2 {
  background: url("../img/optimize (9).webp") center no-repeat;
}

.main__container 
.main__content 
.main__content-container.theme-position
.main__content-carousal-innercontainer
.carousal__content-container
.carousal__content-image.iter-3 {
  background: url("../img/optimize (10).webp") center no-repeat;
}

.main__container 
.main__content 
.main__content-container.theme-position
.main__content-carousal-innercontainer
.carousal__content-container
.carousal__content-image.iter-4 {
  background: url("../img/optimize (11).webp") center no-repeat;
}


/* ------------------------------ positions  ------------------------------  */


/* ------------------------------ animations  ------------------------------  */
@keyframes attention_carousal_hover {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.02);
  }
}

@keyframes now_attention_carousal_outer_hover {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-10px);
  }
}

@keyframes now_attention_carousal_inner_hover {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.02);
  }
}